<TabView androidTabsPosition="top">
	<page-router-outlet *tabItem="{title: 'Attributes'}" name="attributesTab">
	</page-router-outlet>

	<page-router-outlet *tabItem="{title: 'Skills'}" name="skillsTab">
	</page-router-outlet>

	<page-router-outlet *tabItem="{title: 'Powers'}" name="powersTab">
	</page-router-outlet>

	<page-router-outlet *tabItem="{title: 'Cyber'}" name="cyberTab">
	</page-router-outlet>
</TabView>
<Tabs>
	<!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
	<TabStrip>
		<TabStripItem>
			<Label text="Attributes"></Label>
		</TabStripItem>
		<TabStripItem>
			<Label text="Skills"></Label>
		</TabStripItem>
		<TabStripItem>
			<Label text="Powers"></Label>
		</TabStripItem>
		<TabStripItem>
			<Label text="Cyber"></Label>
		</TabStripItem>
	</TabStrip>

	<TabContentItem>
		<GridLayout rows="auto, *">
			<Label text="Attributes" class="h1 text-center" row="0"></Label>
			<ListView [items]="characterAttributes" class="list-group" [itemTemplateSelector]="templateSelector"
				row="1">
				<ng-template nsTemplateKey="red" let-item="item" let-i="index">
					<GridLayout columns="200, *" rows="auto">
						<Label style="padding-left:40" class=" h2" [text]="item.Name" color="white" row="index"
							column="0"></Label>
						<TextField [text]="item.Score" keyboardType="phone" maxLength="2" row="index" column="1" style="margin-bottom:15; font-size:24px; text-align: center;"></TextField>					</GridLayout>
				</ng-template>
			</ListView>
		</GridLayout>
	</TabContentItem>
	<TabContentItem>
		<GridLayout rows="auto, *">
			<Label text="Skills" class="h1 text-center" row="0"></Label>
			<ListView [items]="characterSkills" class="list-group" [itemTemplateSelector]="templateSelector"
				row="1">
				<ng-template nsTemplateKey="red" let-item="item" let-i="index">
					<GridLayout columns="200, *" rows="auto">
						<Label style="padding-left:40" class=" h2" [text]="item.Name" color="white" row="index"
							column="0"></Label>
						<TextField [text]="item.Score" keyboardType="phone" maxLength="2" row="index" column="1" style="margin-bottom:15; font-size:24px; text-align: center;"></TextField>					</GridLayout>
				</ng-template>
			</ListView>
		</GridLayout>
	</TabContentItem>
	<TabContentItem>
		<GridLayout>
			<Label text="Powers" class="h2 text-center"></Label>
		</GridLayout>
	</TabContentItem>

	<TabContentItem>
		<GridLayout>
			<Label text="Cyber" class="h2 text-center"></Label>
		</GridLayout>
	</TabContentItem>
</Tabs>

<GridLayout rows="*" height="1500px">
	<RadSideDrawer>
		<StackLayout tkDrawerContent backgroundColor="gray">
			<StackLayout height="56"
				style="text-align: center; vertical-align: center;">
				<Label text="Navigation Menu"></Label>
			</StackLayout>
			<StackLayout>
				<Label text="Primary" padding="10"
					backgroundColor="lightgray"></Label>
				<Label text="Social" padding="10"></Label>
				<Label text="Promotions" padding="10"></Label>
				<Label text="Labels" padding="10"
					backgroundColor="lightgray"></Label>
				<Label text="Important" padding="10"></Label>
				<Label text="Starred" padding="10"></Label>
				<Label text="Sent Mail" padding="10"></Label>
				<Label text="Drafts" padding="10"></Label>
			</StackLayout>
			<Label text="Close" color="lightgray" padding="10"
				style="horizontal-align: center"
				(tap)="onCloseDrawerTap()"></Label>
		</StackLayout>
		<StackLayout tkMainContent>
			<Label [text]="mainContentText" textWrap="true"
				fontSize="13" padding="10"></Label>
			<Button text="Open Drawer" (tap)="onOpenDrawerTap()"
				margin="10" style="horizontal-align: left"></Button>
		</StackLayout>
	</RadSideDrawer>
</GridLayout>