<RadSideDrawer [drawerTransition]="sideDrawerTransition">
	<GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
		<StackLayout row="0" class="sidedrawer-header">
			<Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
			<Label class="sidedrawer-header-brand" text="User Name"></Label>
			<Label class="footnote" text="username@mail.com"></Label>
		</StackLayout>

		<ScrollView row="1">
			<StackLayout class="sidedrawer-content">
				<Button text="home" [nsRouterLink]="['/home']" (tap)="hideDrawer()" class="btn btn-primary"></Button>
				<Button text="browse" [nsRouterLink]="['/browse']" (tap)="hideDrawer()"
					class="btn btn-primary"></Button>
				<Button text="search" (tap)="goSearch()" class="btn btn-primary"></Button>
			</StackLayout>
		</ScrollView>
	</GridLayout>

	<page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>